<p>
 <span>Descripcion:</span>
{{description}}
</p>
<span> Version <span>
{{version}}
</p>

<p>
    <span>Author: </span> {{name}}
</p>
<p>
    <span>Correspondencia electrónica: </span> {{email}}
</p>

<p>
    <span> 👹 GIT</span> {{url}}
</p> 